<header class="header">
    <a href="/">
        <div class="brand">
            <img alt="logo" class="brand__logo" src="~/img/composers-logo.svg"/>
            <div class="brand__name">Opus Classical</div>
        </div>
    </a>
    <nav class="menu">
        <div class="menu__item">
            <a href="/about">About</a>
        </div>
    </nav>
</header>