<header class="header">
    <a href="/">
        <div class="brand">
            <img alt="logo" class="brand__logo" src="~/img/composers-logo.svg"/>
            <div class="brand__name">Opus Classical</div>
        </div>
    </a>
    <nav class="menu">
        <input type="text" class="menu__item search" placeholder="Search"/>
        <div class="menu__item">
            <a href="#">Profile</a>
        </div>
        <div class="menu__item">
            <a href="#">Logout</a>
        </div>
    </nav>
</header>