@use 'colors'

.card-list
  display: flex
  flex-wrap: wrap
  margin-bottom: 1rem

.card
  margin: 0 1.4rem 0.8rem 0
  
  &__light-text
    font-weight: 300
    
  &__subtitle
    font-size: 0.8rem
    font-weight: 300
  