@use 'colors'

.composer-list
  display: flex
  flex-wrap: wrap
  margin-bottom: 1rem

.composer
  margin: 0 1.4rem 0.8rem 0
  
  &__first-name
    font-weight: 300
    
  &__subtitle
    font-size: 0.8rem
    font-weight: 300
    
  &__separator
    background-color: colors.$black-20
    display: inline-block
    height: 0.6rem
    margin: 0 0.2rem
    width: 1px
  