@use 'reset'
@use 'colors'
@use 'header'
@use 'main'

html
  font-size: 18px

body
  display: grid
  justify-items: center
  color: colors.$black
  font-family: 'Roboto', sans-serif
  grid-template-rows: auto 1fr auto

h1, h2
  font-family: 'Domine', serif

h1
  font-size: 1.2rem
  
a
  color: inherit
  text-decoration: none
  
  &:hover
    text-decoration: underline
  
footer
  height: 4rem

.footer-logo
  height: 2rem
  margin: 0 auto
  width: 3rem
