@page
@model Site.Pages.IndexModel
@{
    ViewData["Title"] = "Periods";
}

@foreach (var period in Model.Periods)
{
    <h1>@period.Name, @period.YearStart.ToString()&ndash;@(period.YearEnd > 0 ? period.YearEnd.ToString() : "")</h1>
    <hr />
}
