@page
@model Site.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Composers";
    ViewData["Description"] = "List of classical music composers grouped by periods.";
}

<h1>Composers</h1>

@foreach (var period in Model.Periods)
{
    <h2>@period.Name, @period.YearStart.ToString()&ndash;@(period.YearEnd.HasValue ? period.YearEnd.ToString() : "")</h2>
    <hr/>
    <div class="card-list">
        @foreach (var composer in period.Composers)
        {
            @if (composer.Enabled)
            {
                <a href="@(composer.Enabled ? $"/composer/{composer.Slug}" : "#")">
                    @await Html.PartialAsync("_ComposerCard", composer)
                </a>
            }
            else
            {
                @await Html.PartialAsync("_ComposerCard", composer)
            }
        }
    </div>
}